* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html{
    background-color: #fff;
}
.container {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 30vh;
    background-color: #fff;
}

.container1 {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 30vh;
    background-color: #fff;
}

.btn, .btn1 {
    font-size: 1.5rem;
    padding: 10px 20px;
    margin: 50px;
    height: 70px;
    background-color: inherit;
    border-color: black;
    border-style: dotted;
    text-transform: uppercase;
}

div {
    height: 30px;
    width: 30px;
    background-color: black;
    color: white;
    margin: 5px;
    float: left;
    text-align: center;
}

.circle {
    background-color: #fff;
    border-radius: 50%;
    border: 2px solid black;
    color: black;
}

.big {
    font-size: 3rem;
    font-weight: bold;
}
ul {
    color: black;
    margin-top: 30px;
    
}