* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    background-color: #fff;
    text-align: center;
}

button {
    font-size: 35px;
    padding: 10px 20px;
    margin: 50px;
    background-color: inherit;
    border-color: black;
    border-style: dotted;
}

div {
    height: 30px;
    width: 30px;
    background-color: black;
    color: white;
    margin: 5px;
}

.circle {
    background-color: #fff;
    border-radius: 50%;
    border: 2px solid black;
    color: black;
}